@using ConfluencePOC.Web.Models.Contentful
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConfluencePOC.Web.Models.Contentful.Grid

@{
    switch (Model.GridType)
    {
        case "Cards":
            <div class="@Model.CssClass">
                <section class="dfe-section govuk-!-margin-top-5">
                    <div class="govuk-width-container">
                        @if (Model.ShowTitle)
                        {
                            <h2 class="govuk-heading-l" id="@TagBuilder.CreateSanitizedId(Model.Title, "-")">@Model.Title</h2>
                        }
                        @if (Model.Content != null && Model.Content.Any())
                        {
                            <div class="dfe-grid-container dfe-grid-container--wider govuk-!-margin-top-5">
                                @foreach (var content in Model.Content)
                                {
                                    var card = (Card)content;
                                    <partial model="@card" name="Card"/>
                                }
                            </div>
                        }
                    </div>
                </section>
            </div>
            break;

        case "Alternating Image and Text":
            <div class="@Model.CssClass">
                @if (Model.ShowTitle)
                {
                    <h2 class="govuk-heading-l" id="@TagBuilder.CreateSanitizedId(Model.Title, "-")">@Model.Title</h2>
                }


                @if (Model.Content != null)
                {
                    int position = -1;
                    foreach (var content in Model.Content)
                    {
                        position++;
                        var card = (Card)content;
                        card.Position = position;
                        <partial model="@card" name="AlternatingImageAndText"/>
                    }
                }
            </div>
            break;
            
        case "External Links":
            @if (Model.ShowTitle)
            {
                <h2 class="govuk-heading-l" id="@TagBuilder.CreateSanitizedId(Model.Title, "-")">@Model.Title</h2>
            }
            @if (Model.Content != null)
            {
                @foreach (var content in Model.Content)
                {
                    var externalAgency = (ExternalAgency)content;
                    <partial model="@externalAgency" name="ExternalAgency"/>
                }
            }
            break;
    }
}
