@model ConfluencePOC.Web.Models.Contentful.Card

@{
    string link = Model.Link?.Slug ?? string.Empty;


    <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
        <div class="govuk-grid-row split-panel" style="background: #f3f2f1; vertical-align: text-top;">
            <div class="govuk-grid-column-one-half image-column">
                <a href="@link">
                    <div class="image-container" style="background-image: url('@Model?.Image?.File?.Url');"></div>
                </a>
            </div>
            <div class="govuk-grid-column-one-half text-column">
                <span class="govuk-caption-l">@Model.Types.FirstOrDefault()</span>
                <h3 class="govuk-heading-l"><a href="@link">@Model.Title</a></h3>
                <p class="govuk-body">@Model.Text</p>
                <p class="govuk-!-margin-bottom-0">
                </p>
            </div>
        </div>
    </div>
}